/* index.css是用来美化index.html的。一般命名同名即可 */
/* 清楚默认样式 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式：让整个盒子的大小自动调整 */
    box-sizing: border-box;
}

li {
    /* 取消列表li的默认样式 点 */
    list-style: none;
}

a {
    /* 取消a标签的默认样式 蓝色和下划线 */
    text-decoration: none;
}

/* 保证使用了浮动窗口后的错误 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background-color: #f3f5f7;
}

/* 模板核心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    height: 42px;
    /* 上下30px，左右居中 */
    margin: 30px auto;
}

h1 {
    float: left;
}

/* 导航 */
.nav {
    float: left;
    height: 42px;
    margin-left: 70px;
}

.nav li {
    float: left;
    margin-right: 26px;
}

.nav li a {
    display: block;
    padding: 0 9px;
    height: 42px;
    line-height: 42px;
    /* border-bottom: 2px solid #00a4ff; */

    font-size: 18px;
    color: #050505;

}

/* 当鼠标放在标签上的样式 */
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
    float: left;
    margin-left: 59px;
    width: 412px;
    height: 42px;
    border: 1px solid #00a4ff;
}

.search input {
    float: left;
    padding-left: 20px;
    width: 360px;
    height: 40px;
    border: 0;
}

.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    float: right;
    width: 50px;
    height: 41px;
    background-image: url(../imgs/btn.png);
    border: 0;
}

/* 用户信息 */
.user {
    float: right;
    margin-right: 30px;
    height: 42px;
    line-height: 42px;
}

.user img {
    /* 调节图片对齐方式 */
    vertical-align: middle;
}

/* 轮播图 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 420px;
    background-image: url(../imgs/banner.png);
}

.banner .left {
    float: left;
    padding: 0px 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: #000000;
    opacity: 0.3;  */
    /* 行高属于文字类的属性，可以继承 */
    line-height: 44px;
}

.banner .left span {
    float: right;
}

.banner .left a {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 1px;
    color: #ffffff;

}

.banner .left a:hover {
    color: #00b4ff;
}

.banner .right {
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #ffffff;
}

.banner .right h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    letter-spacing: 1px;
    color: #ffffff;
}

.banner .right .content {
    padding: 0 18px;
}

.banner .right .content dl {
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}

.banner .right .content dt {
    font-size: 16px;
    color: #4e4e4e;
    letter-spacing: 1px;
}

.banner .right .content dd {
    font-size: 14px;
    color: #a5a5a5;
    letter-spacing: 1px;
}

.banner .right .more {
    display: block;
    margin: 4px auto 0;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
}

/* 精品推荐 */
.goods {
    margin-top: 8px;
    padding-left: 34px;
    padding-right: 26px;
	height: 60px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
    line-height: 60px;
    text-align: center;
}

.goods h2{
    float: left;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 400;
    margin-right: 30px;
}

.goods li{
    float: left;
}

.goods li a{
    border-left: 2px solid #bfbfbf;
    padding: 0 30px;
    color: #050505;
}

.goods .hobby{
    float:right;
    font-size: 14px;
    color: #00a4ff;
    font-weight: 400;
}

/* 精品推荐课程 */
.box{
    margin-top: 35px;
}

.box .title{
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.box .title h2{
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}

.box .title a{
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .content li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
}

.box .content li:nth-child(5n){
    margin-right: 0;
}

.box .content img{
    width: 100%;
}

.box .content li h3{
    padding: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .content li p{
    padding: 0 20px;
    font-size: 12px;
    color: #999999;
}

.box .content li span{
    color: #ff7c2d;
}